@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  font-family: "Inter", "Roboto", sans-serif;
  color-scheme: dark light;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background: var(--bg-clr);
  color: var(--text-clr);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

:root {
  --text-clr: hsl(0, 0%, 100%);
  --text-clr-2: hsl(0, 0%, 83%);
  --li-clr: hsl(60, 100%, 50%);
  --bg-clr: hsl(0, 0%, 0%);
  --bg-clr-2: hsla(0, 0%, 0%, 0.4);
  --accent-clr: hsl(180, 100%, 50%);
}

body.light-mode {
  --text-clr: hsl(0, 0%, 0%);
  --text-clr-2: hsl(0, 0%, 40%);
  --bg-clr: hsl(0, 0%, 100%);
  --bg-clr-2: hsla(0, 0%, 100%, 0.1);
  --accent-clr: hsl(201, 68%, 61%);
}

/* ------------------ Header ------------------ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5%;
  background: var(--bg-clr-2);
  backdrop-filter: blur(5px);
  z-index: 100;
}
.header .navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .navbar__logo {
  font-size: 1.35rem;
  font-weight: 600;
  margin-right: 20px;
  transition: 0.3s;
}
.header .navbar__logo:hover {
  scale: 1.01;
  text-shadow: 0 0 3px var(--accent-clr);
}
.header .navbar__logo .logo span {
  color: var(--accent-clr);
}
.header .navbar__sections .navbar__menu-bar {
  display: none;
}
.header .navbar__sections a {
  display: inline-block;
  margin-left: 1.5rem;
  color: var(--text-clr-2);
  border-bottom: 2px solid transparent;
  padding: 3px 5px;
  transition: 0.3s;
}
.header .navbar__sections a:hover {
  color: var(--text-clr);
  border-bottom-color: var(--accent-clr);
}
.header .navbar__sections a.active {
  --light-bg-clr: hsla(201, 68%, 61%, 0.1);

  color: var(--accent-clr);
  border-bottom-color: var(--accent-clr);
  font-weight: 600;
  background: var(--light-bg-clr);
}
.header .navbar__theme-mode span {
  font-size: 1.35rem;
  margin-left: 40px;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.3s;
}
.header .navbar__theme-mode span:hover {
  translate: 0 -3px;
}
/* ------------------ Header - Media Queries ------------------ */
@media (width <= 900px) {
  .header .navbar__sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    padding: 60px 40px;
    background: var(--bg-clr);
    z-index: 1;
    transition: .6s;
  }
  .header .navbar__sections.menu-bar-active {
    right: 0;
  }
  .header .navbar__sections .navbar__menu-bar {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    padding: 27px 60px;
    font-size: 1.25rem;
    transition: .6s;
  }
  .header .navbar__sections.menu-bar-active .navbar__menu-bar {
    rotate: 180deg;
  }
  .header .navbar__theme-mode {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* ------------------ Section ------------------ */
section {
  min-height: 100vh;
  padding: 80px 60px;
  text-align: center;
}

/* ------------------ Scrollbar ------------------ */

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: var(--accent-clr);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--text-clr);
}
::-webkit-scrollbar-track {
  background: var(--bg-clr);
}

/* ------------------ Home ------------------ */
.home__title {
  font-size: 2rem;
  margin-bottom: -5px;
}
.home__title span {
  -webkit-text-stroke: 1.25px var(--accent-clr);
  color: var(--accent-clr);
  letter-spacing: 2px;
}
.home__subtitle {
  font-size: 1.5rem;
}
.home__subtitle span {
  -webkit-text-stroke: 1.25px var(--accent-clr);
  color: transparent;
  letter-spacing: 5px;
}

.home__text {
  color: var(--text-clr-2);
  margin-block: 20px 30px;
  padding: 0 100px;
}
.home__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.home__social-links a {
  display: inline-block;
  font-size: 1.1rem;
  color: var(--accent-clr);
  border: 2px solid var(--accent-clr);
  border-radius: 50%;
  padding: 10px 15px;
  transition: 0.3s;
}
.home__social-links a:hover {
  background: var(--accent-clr);
  color: var(--text-clr);
  transform: translate(0, -5px) scale(1.05);
  box-shadow: 0 0 25px var(--accent-clr);
}
.home__btns-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
}

/* ------------------ Buttons ------------------ */
.btn {
  border: 2px solid var(--accent-clr);
  border-radius: 50px;
  padding: 10px 30px;
  color: var(--bg-clr);
  background: var(--accent-clr);
  font-weight: 600;
  box-shadow: 0 0 25px var(--accent-clr);
  transition: 0.3s;
}
.btn:hover {
  color: var(--bg-clr);
  background: var(--accent-clr);
  scale: 1.05;
  box-shadow: 0 0 25px var(--accent-clr), 0 0 50px var(--accent-clr);
}
.btn--2 {
  color: var(--accent-clr);
  background: var(--bg-clr);
}

/* ------------------ About ------------------ */
.about__title {
  font-size: 2rem;
  border-top: 2px solid var(--accent-clr);
  border-bottom: 2px solid var(--accent-clr);
}
.about__title i {
  margin-right: 20px;
}
.about__title span {
  color: var(--accent-clr);
  letter-spacing: 1px;
}
.about__text {
  color: var(--text-clr-2);
  margin-block: 20px;
}
.about__tech-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  color: var(--text-clr);
  margin-block: 20px 30px;
  font-size: 1.75rem;
}
.about a.btn i {
  margin-left: 15px;
  vertical-align: middle;
  transition: 0.3s;
}
.about a.btn:hover i {
  translate: 5px 0;
}

/* ------------------ Projects ------------------ */
.projects__title {
  font-size: 2rem;
  margin-bottom: -5px;
  border-top: 2px solid var(--accent-clr);
  border-bottom: 2px solid var(--accent-clr);
}
.projects__title i {
  margin-right: 13px;
}
.projects__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  margin-top: 30px;
}
.projects__project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 4px 30px -11px var(--accent-clr);
  border-left: 2px solid var(--accent-clr);
  padding: 20px 40px;
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
}
.projects__project:hover {
  box-shadow: -4px 4px 25px -9px var(--accent-clr),
    -4px 4px 50px 15px var(--accent-clr), 0 8px 8px rgba(0, 0, 0, 0.2);
  translate: 0 -5px;
}
.projects__project-description {
  color: var(--text-clr-2);
}
.projects__project-technologies {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-block: 10px;
}
.projects__project-links {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: var(--accent-clr);
  color: var(--bg-clr);
  border-radius: inherit;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
}
.projects__project-links a {
  transition: 0.3s;
}
.projects__project-links a:hover {
  transform: translate(0, -5px) scale(1.1);
}
.projects__project:hover .projects__project-links {
  height: 100%;
  opacity: 0.8;
}
.projects__project > i {
  font-size: 1.75rem;
  animation: smoothBounce2 1.25s linear infinite alternate;
}
@keyframes smoothBounce2 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 8px);
  }
}

/* ------------------ Services ------------------ */
.services__title {
  font-size: 2rem;
  margin-bottom: -5px;
  border-top: 2px solid var(--accent-clr);
  border-bottom: 2px solid var(--accent-clr);
}
.services__title i {
  margin-right: 20px;
}
.services__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 20px;
  margin-top: 30px;
}
.servies__service {
  background: var(--accent-clr);
  color: var(--bg-clr);
  padding: 40px 30px;
  border: 2px solid var(--accent-clr);
  border-radius: 20px;
  transition: 0.3s;
}
.servies__service:hover {
  background: var(--bg-clr);
  color: var(--accent-clr);
  translate: 0 -10px;
}
.servies__service i,
.servies__service span {
  font-size: 1.75rem;
}
.services__service-title {
  font-size: 1.35rem;
  margin-block: 5px 10px;
}
.services__service-tech {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}
.services__service-tech li {
  display: flex;
  align-items: center;
  gap: 15px;
  white-space: nowrap;
  margin-left: -10px;
}
.services__service-tech li i {
  font-size: 1.2rem;
  color: var(--li-clr);
}
body.light-mode .servies__service:hover .services__service-tech li i {
  filter: hue-rotate(90deg);
}

/* ------------------ Contact ------------------ */
.contact__title {
  font-size: 2rem;
  margin-bottom: -5px;
  border-top: 2px solid var(--accent-clr);
  border-bottom: 2px solid var(--accent-clr);
}
.contact__title i {
  margin-right: 20px;
}
.contact__title span {
  color: var(--accent-clr);
  letter-spacing: 1px;
}
.contact__text {
  color: var(--text-clr-2);
  margin-block: 20px 30px;
}
.contact__form-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}
.contact__form .details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact__form-wrapper input,
.contact__form-wrapper textarea {
  color: var(--text-clr);
  background: var(--bg-clr);
  border: 2px solid var(--accent-clr);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 8px 20px;
  resize: none;
}
.contact__form-wrapper textarea {
  width: 150%;
}
.contact__form-wrapper input:focus-visible,
.contact__form-wrapper textarea:focus-within {
  box-shadow: 0 0 25px var(--accent-clr);
}
.contact__form button[type="submit"] i {
  margin-left: 13px;
  animation: smoothBounce 4s linear infinite;
}
@keyframes smoothBounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
}

/* ------------------ Footer ------------------ */
.footer {
  text-align: center;
  padding-block: 40px;
  color: var(--text-clr-2);
}
.footer .home__social-links {
  margin-bottom: 10px;
}