@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --bg-color: hsl(220, 10%, 5%);
  --text-color: hsl(0, 0%, 100%);
  --primary-color: hsl(261, 100%, 61%);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color);
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
::selection {
  background-color: var(--text-color);
  color: var(--primary-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
input,
textarea,
select,
button {
  cursor: pointer;
  font-family: inherit;
  outline: none;
  caret-color: var(--primary-color);
  white-space: nowrap;
}
* {
  scroll-margin-top: 75px;
  transition: 0.3s;
}
summary::webkit-details-marker {
  display: none;
}
summary::marker {
  content: "";
}

.floating-label-effect {
  position: relative;
}
.floating-label-effect input,
.floating-label-effect textarea,
.floating-label-effect select,
.floating-label-effect details {
  border: 2px solid var(--color-gray-400);
  border-radius: 0.25rem;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.floating-label-effect input:hover,
.floating-label-effect textarea:hover,
.floating-label-effect select:hover,
.floating-label-effect details:hover {
  border-color: var(--text-color);
}
.floating-label-effect input:focus,
.floating-label-effect textarea:focus,
.floating-label-effect select:focus,
.floating-label-effect details[open] {
  border-color: var(--primary-color);
}
.floating-label-effect input + label,
.floating-label-effect textarea + label,
.floating-label-effect select + label,
.floating-label-effect details + label {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.floating-label-effect textarea + label {
  top: 1rem;
}
.floating-label-effect input:focus + label,
.floating-label-effect input:not(:placeholder-shown) + label,
.floating-label-effect textarea:focus + label,
.floating-label-effect textarea:not(:placeholder-shown) + label,
.floating-label-effect select:focus + label,
.floating-label-effect select:not([value=""]) + label,
.floating-label-effect details[open] + label,
.floating-label-effect details[data-has-items="true"] + label {
  top: 0.1rem;
  left: 0.5rem;
  font-size: 0.75rem;
  color: var(--primary-color);
  background-color: var(--bg-color);
  padding-inline: 4px;
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke: 1px var(--primary-color);
}
